---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import { blogURL } from '../utils/blogURL';
const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />

	</head>
	<body>
		<Header />
		<main>
			<div class="main">
				<h2 class="main__header">Blog</h2>
	  
				<div class="blog__post__list">
					{
						posts.map((post) => (
							<article class="py-10 border-t-2 text-purple-500 border-stone-300 m-0 shadow-none h-entry no-underline  decoration-4 underline-offset-8 leading-loose">
	 					 		<h3 class="hover:underline">
									<a href={blogURL(post.slug)} class="u-uid u-url block">
		  								<span class="dt-published font-sans text-lg font-extrabold">
											<FormattedDate date={post.data.pubDate}></FormattedDate>
										</span>
										<br />
										<span class="p-name font-sans text-3xl font-extrabold">
											{post.data.title}
        								</span>
									</a>
								</h3>
								<p class="text-lg p-summary no-underline hover:no-underline text-gray-600 mt-5">
      								{post.data.description}
    							</p>
							</article>
						))
					}
				</div>
			</div>
		</main>
		<Footer />
	</body>
</html>
